@model LicznikKalorii.Models.MealEaten

@{
    ViewData["Title"] = "Create";
}

<h1 style="font-family:Bahnschrift;color:darkgreen;margin-bottom:150px">Dodaj nowy</h1>

<h4 style="font-family:Bahnschrift;color:darkgreen">Spożyty posiłek</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-bottom:20px">
                <label asp-for="MealEatenDay" class="control-label" style="color:darkolivegreen"></label>
                <input asp-for="MealEatenDay" class="form-control" />
                <span asp-validation-for="MealEatenDay" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom:20px">
                <label asp-for="MealEatenWeight" class="control-label" style="color:darkolivegreen"></label>
                <input asp-for="MealEatenWeight" class="form-control" />
                <span asp-validation-for="MealEatenWeight" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="MealId" name="Nazwa" class="control-label" style="color:darkolivegreen"></label>
                <select asp-for="MealId" class="form-control" asp-items="ViewBag.MealId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Utwórz" class="btn btn-primary" style="margin-top:30px;margin-bottom:30px;border:0px;background-color:darkgreen;color:white" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="text-decoration:none;color:darkgreen">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
