@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-family:Pristina;font-size:90px;color:darkolivegreen;margin-top:150px;font-weight:700">Licznik<span style="color:olive">Kalorii</span></h1>
   
</div>
